# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
*.sdf
*.obj
*.pdb
*.log
*.tlog
WebSocketServer/WebSocketServer/GeneratedFiles/Debug/moc_Data.cpp
WebSocketServer/WebSocketServer/GeneratedFiles/Debug/moc_websocketserver.cpp
WebSocketServer/WebSocketServer/GeneratedFiles/ui_websocketserver.h
WebSocketServer/WebSocketServer/GeneratedFiles/qrc_websocketserver.cpp
*.user
*.ilk
